  <% content_for(:body_attributes) do %>
    data-turbolinks="false"
　　<% end %>

<div class="container mx-auto lg:px-8 xl:px-80">
  <div class="m-4 p-4 h-auto divide-y divide-gray-400 bg-white rounded-md shadow">
    <h2>プロフィール編集</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="px-4 pb-4 pt-4">
      <%= f.label :写真 %> <br />
      <%= f.file_field :image, id:'image_upload', class:'w-full text-sm sm:text-lg px-1' %>
        <div id='preview_area' class='w-full my-5'></div>
    </div>

    <div class="px-4 pb-4">
      <%= f.label :名前 %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'placeholder-gray-800 border w-full' %>
    </div>
    
    <div class="px-4 pb-4">
      <%= f.label :プロフィール %> <br />
      <%= f.text_area :profile, autofocus: true , autocomplete: "profile", class:'placeholder-gray-800 border w-full' %>
    </div>

    <div class="px-4 pb-4">
      <%= f.label :トレーニング歴 %> <br />
      <%= f.number_field :experience, autofocus: true, autocomplete: "experience", class:'placeholder-gray-800 border', min: 0, max: 100 %>年
    </div>
    
    <div class="px-4 pb-4">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'placeholder-gray-800 border w-full' %>
    </div>

    <div class="px-4 pb-4">
      <%= f.label :パスワード %> <i>(変更しない場合は空欄可)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'placeholder-gray-800 border w-full' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>

    <div class="px-4 pb-4">
      <%= f.label :パスワード再確認%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'placeholder-gray-800 border w-full' %>
    </div>

    <div class="px-4 pb-4">
      <%= f.label :現在のパスワード %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:'placeholder-gray-800 border w-full' %>
    </div>

    <div class="py-4 flex justify-center">
      <%= f.submit "更新" ,class:'cursor-pointer px-3 py-2 bg-gray-500 text-white font-semibold rounded hover:bg-gray-700'%>
    </div>
    <% end %>

    <hr>

    <h2 class="pt-6">退会</h2>

    <div class="py-4 flex justify-center">
      <p>アカウントを削除しますか?</p>
    </div>

    <div class="py-4 flex justify-center">
      <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class:'cursor-pointer px-3 py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-700' %>
    </div>

    <div class="py-4 flex justify-center">
      <%= link_to "戻る", :back, class:'px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100' %>
    </div>
  </div>
</div>
