<div class="bg-dm">
</div>


<div class="notifications">

<h1>おしらせ</h1>
<%= link_to notification_path(@notifications), method: :delete do %>
通知クリア<i class="fas fa-trash fa-lg"></i>
<% end %>
<hr>
<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <div class="notice">
      <tr>
        <td>
          <%= link_to user_path(notification.visitor) do %>
          <% if notification.visitor.picture? %>
            <%= image_tag notification.visitor.picture, size: "50x50", class:"user-icon"%>
            <% else %>
            <%= image_tag "default.jpg", alt: "user-icon", size: "50x50", class: "user-icon" %>
            <% end %>
            <%= notification.visitor.name %>
          <% end %>
        </td>
        <td>
          さんからフォローされました
        </td>
        <td>
          <%= " (#{time_ago_in_words(notification.created_at)} ago)" %>
        </td>
      </tr>
      <hr>
    </div>

    <div class="notice">
        <%= link_to user_path(notification.visitor) do %>
        <% if notification.visitor.picture? %>
        <%= image_tag notification.visitor.picture, size: "50x50", class:"user-icon"%>
        <% else %>
            <%= image_tag "default.jpg", alt: "user-icon", size: "50x50", class: "user-icon" %>
            <% end %>
        <%= notification.visitor.name %>
        <% end %>
        さんがあなた(<%= notification.visited.name %>さん)にDMを送りました
        <td>
          <%= " (#{time_ago_in_words(notification.created_at)} ago)" %>
        </td>
        <hr>
    </div>
    
  <% end %>
  <hr>
<% else %>
  <p>おしらせはありません</p>
<% end %>

</div>