<div class="notifications">
  <h1>登録者一覧
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.submit :検索 %>
  <% end %></h1>
  <div class="users">
    <% @users.each do |user| %>
      <div>
        <% if user.picture? %>
              <%= image_tag user.picture, size: "50x50", class:"user-icon"%>
              <% else %>
              <%= image_tag "default.jpg", alt: "user-icon", size: "50x50", class: "user-icon" %>
              <% end %>
        <%= link_to user.name, user %>
        <hr>
        </div>
    <% end %>
  </div>
</div>