<div class="common_wrapper">
  <h1>検索結果
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.number_field :experience, :placeholder => "トレーニング年数", min: 0, max: 100 %>
    <%= f.submit :検索 %>
  <% end %></h1>
  <table>
    <tbody>
      <% @users.each do |user| %>
        <div>
        <% if user.image.attached? %>
          <%= image_tag user.image, class:"user-icon_small"%>
        <% else %>
          <%= image_tag "default.png", alt: "user-icon", class: "user-icon_small" %>
        <% end %>
        <h4><%= link_to user.name, user %></h4>
        <h3>トレーニング歴：<%= user.experience %>年</h3>
        <hr>
        </div>
      <% end %>
    </tbody>
  </table>
  <%= link_to "戻る", home_path %>
</div>

<%= paginate @users %>
