<div class="container mx-auto lg:px-8 xl:px-36">
  <div class="lg:grid grid-cols-3">

    <div class="col-span-1">
      <div class="bg-white rounded-t-md shadow mt-4 mx-4">
        <div class="mt-4 px-16 pt-4 flex justify-center">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, alt: "", class: "rounded-full h-32 w-32" %>
            <% else %>
              <%= image_tag "default.png", alt: "", class: "rounded-full h-32 w-32" %>
            <% end %>
        </div>
        
      
      <div class="user__show__bottom">
        <div class="pt-4 flex justify-center">
            <p class="text-2xl"><%= @user.name %></p>
        </div>
        
      </div>
        <div class="px-4 pt-4 text-xl">
          <i class="fas fa-fist-raised"></i>
          トレーニング歴：<%= @user.experience %>年
        </div>
        <div class="px-4 pt-4 text-xl">
        <i class="fas fa-id-card"></i> 
          プロフィール：
        </div>
        <p class="p-4 flex items-center"><%= @user.profile %></p>

        <div class="px-4 pt-4 text-xl">
          <i class="fas fa-trophy"></i>
          アチーブメント：
        </div>
        <p class="p-4 flex items-center">
          <% if @user.posts.count >= 100 %>
            投稿数100以上<i class="fas fa-medal color-gold"></i>
          <% elsif @user.posts.count >= 50%>
          　投稿数50以上<i class="fas fa-medal color-silver"></i>
          <% elsif @user.posts.count >= 1%>
            投稿数1以上<i class="fas fa-medal color-bronze"></i>
          <% else %>
            投稿をしてみよう！
          <% end %>
          <br />
        </p>
        <p class="p-4 flex items-center">
          <% if @favorite_list.count >= 100 %>
            お気に入りされた投稿数100以上<i class="fas fa-medal color-gold"></i>
          <% elsif @favorite_list.count >= 50%>
          　お気に入りされた投稿数50以上<i class="fas fa-medal color-silver"></i>
          <% elsif @favorite_list.count >= 1%>
            お気に入りされた投稿数1以上<i class="fas fa-medal color-bronze"></i>
          <% else %>
            投稿にお気に入りしてもらおう！
          <% end %>
          <br />
          </p>
          <p class="p-4 flex items-center">
          <% if @user.followers.count >= 100 %>
            フォロワー数100以上<i class="fas fa-medal color-bronze"></i>
          <% elsif @user.followers.count >= 50%>
          　フォロワー数50以上<i class="fas fa-medal color-silver"></i>
          <% elsif @user.followers.count >= 1%>
            フォロワー数1以上<i class="fas fa-medal color-bronze"></i>
          <% else %>
            フォロワーを増やそう！
          <% end %>
          <br />
        </p>
        <% if @user.id == current_user.id %>
          <div class="flex justify-center pb-4">
            
              <%= link_to "プロフィール編集", edit_user_registration_path, class:'px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100' %>
          </div>
          <div class="flex justify-center pb-4">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100' %>
          </div>
        <% else %>
          <div class="flex justify-center pb-4">
              <%= render 'follow_form' %>
          </div>
          <div class="flex justify-center pb-4">
              <% if @isRoom == true %>
              <a class='message px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100', href="/rooms/<%= @roomId%>">チャットへ</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                    <h3><%= f.submit "チャットを始める" , class:'message px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100' %></h3>
                <% end %>
              <% end %>
          </div>
        <% end %>

          <div class="grid grid-cols-2 bg-white shadow rounded-b-md">
            <%= render 'shared/stats' %>
          </div>

      </div>
    </div>

    <div class="col-span-2">
    <div class="bg-white rounded-md shadow mt-4 mx-4">
      <div class="tabs">
        <input id="all" type="radio" name="tab_item" checked>
        <label class="tab_item rounded-tl-md" for="all">自分の投稿</label>
        <input id="favorite" type="radio" name="tab_item">
        <label class="tab_item rounded-tr-md" for="favorite">お気に入り投稿</label>
        <div class="tab_content" id="all_content">
          <% @posts.each do |post| %>
          <div class="relative pt-4">
            <div class="flex items-center">
              <% if post.user.image.attached? %>
                <%= image_tag post.user.image, class:"rounded-full h-16 w-16"%>
              <% else %>
                <%= image_tag "default.png", alt: "", class: "rounded-full h-16 w-16" %>
              <% end %>
              <div class="flex justify-center pl-2 ml-2 hover:underline">
                <%= link_to post.user.name, user_path(post.user) %>
              </div>
            </div>
            <div class="py-4 flex justify-center">
              <h3 class="px-4 pt-4 text-xl">
                <%= post.title %>
              </h3>
            </div>
            <p class="p-4 flex items-center">
              <%= post.content %>
            </p>
            <p class="p-4 flex items-center">
              #<%= post.tag %>
            </p>
            <% if post.eyecatch.attached? %>
              <%= image_tag post.eyecatch, class: "post__index__item__img" %>
            <% else %>
              <%= image_tag "post-image.jpg", class: "post__index__item__img" %>
            <% end %>
            <div class="flex justify-center pt-2 pb-8">
            <%=link_to "詳細を見る", post_path(post), class:'px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100' %>
            </div>
            <hr />
          </div>
          <% end %>
        </div>

        <div class="tab_content" id="favorite_content">
          <% if @favorite_list.present? %>
            <% @favorite_list.each do |post| %>
              <div class="relative pt-4">
                <div class="flex items-center">
                  <% if post.user.image.attached? %>
                    <%= image_tag post.user.image, class:"rounded-full h-16 w-16"%>
                  <% else %>
                    <%= image_tag "default.png", alt: "", class: "rounded-full h-16 w-16" %>
                  <% end %>
                  <div class="flex justify-center pl-2 ml-2 hover:underline">
                    <%= link_to post.user.name, user_path(post.user) %>
                  </div>
                </div>
                <div class="py-4 flex justify-center">
                  <h3 class="px-4 pt-4 text-xl">
                    <%= post.title %>
                  </h3>
                </div>
                <p class="p-4 flex items-center">
                  <%= post.content %>
                </p>
                <p class="p-4 flex items-center">
                  #<%= post.tag %>
                </p>
                <% if post.eyecatch.attached? %>
                  <%= image_tag post.eyecatch, class: "post__index__item__img" %>
                <% else %>
                  <%= image_tag "post-image.jpg", class: "post__index__item__img" %>
                <% end %>
                <div class="flex justify-center pt-2 pb-8">
                  <%=link_to "詳細を見る", post_path(post), class:'px-3 py-2 text-gray-500 border border-gray-500 font-semibold rounded hover:bg-gray-100' %>
                </div>
                <hr />
              <%= paginate @posts %>
            <% end %>
          <% end %>
          </div>
          </div>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
