<ul class="content">
  <li><%= link_to "Search",   '#' %></li>
  <li><%= link_to "Inform", '#' %></li>
  <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</ul>
<ul class="content">
  <li><%= link_to "List", '#' %></li>
  <li><%= link_to "質問", new_post_q_path %></li>
  <li><%= link_to "投稿", new_post_p_path %></li>
  <li><%= link_to "Favorite", '#' %></li>
</ul>
<div class="content">
  <p>写真</p>
  <p>名前</p>
  <p>評価（星）</p>
  <p><%= link_to "レビュー", '#' %></p>
  <p><%= link_to "フォロー", '#' %></p>
  <p><%= link_to "フォロワー", '#' %></p>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
  <p>自己紹介</p>
  <p>質問投稿一覧</p>
  <p>回答投稿一覧</p>
</div>