<div class="user__wrapper">
  <div class="user__show">
    <ul class="user__show__top">
        <li class="user__show__top__icon">
            <% if @user.picture? %>
            <%= image_tag @user.picture.url, alt: "user-icon", class: "user-icon" %>
            <% else %>
            <%= image_tag "default.jpg", alt: "user-icon", class: "user-icon" %>
            <% end %>
        </li>
        <li class="user__show__top__content">
          <% if @user.id == current_user.id %>
            <button class="btn slide-bg"><span></span><%= link_to "プロフィール編集", edit_user_registration_path  %></button>
            <button class="btn slide-bg"><span></span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
          <% else %>
            <%= render 'follow_form' %>
            <% if @isRoom == true %>
            <button class="btn slide-bg"><span></span><a href="/rooms/<%= @roomId %>">チャットへ</a></button>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                  <h3><%= f.submit "チャットを始める" , class: "btn"%></h3>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
      <ul class="user__show__bottom">
        <li class="user__show__bottom__name">
            <h3><%= @user.name %></h3>
        </li>
        <li class="user__show__bottom__follow">
            <%= render 'shared/stats' %>
        </li>
      </ul>
    </div>

    <div class="user__show__post__index">
      <div class="tabs">
        <input id="all" type="radio" name="tab_item" checked>
        <label class="tab_item" for="all">自分の投稿</label>
        <input id="favorite" type="radio" name="tab_item">
        <label class="tab_item" for="favorite">お気に入り投稿</label>
        <div class="tab_content" id="all_content">
          <% @posts.each do |post| %>
          <li class="user__show__post__index__item">
            <div class="user__show__post__index__item__user">
              <% if post.user.picture? %>
                <%= image_tag post.user.picture.url, class:"user-icon_small"%>
              <% else %>
                <%= image_tag "default.jpg", alt: "user-icon", class: "user-icon_small" %>
              <% end %>
              <div class="user__show__post__index__item__user__name"><%= link_to post.user.name, user_path(post.user) %></div>
              
<h3><%=link_to post.title, post_path(post) %></h3> 
            </div>
            <%= image_tag post.picture.url , class: "post__index__item__img" if post.picture? %>
            <hr>
            <%=link_to "詳細を見る", post_path(post) %>
          </li>
          <% end %>
        </div>
        <div class="tab_content" id="favorite_content">
          <% if @favorite_list.present? %>
            <% @favorite_list.each do |post| %>
              <li class="user__show__post__index__item">
                <div class="user__show__post__index__item__user">
                  <% if post.user.picture? %>
                    <%= image_tag post.user.picture.url, class:"user-icon_small"%>
                  <% else %>
                    <%= image_tag "default.jpg", alt: "user-icon", class: "user-icon_small" %>
                  <% end %>
                  <div class="user__show__post__index__item__user__name"><%= link_to post.user.name, user_path(post.user) %></div>
                </div>
                <%= image_tag post.picture.url , class: "post__index__item__img" if post.picture? %>
                <hr>
                <%=link_to "詳細を見る", post_path(post) %>
              </li>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
