<ul class="content">
  <li><%= link_to "トレーニーリスト",   users_path %></li>
  <li><%= link_to "通知", notifications_path %></li>
  <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</ul>
<ul class="content">
  <li><%= link_to "トレーニーリスト", users_path %></li>
  <li><%= link_to "投稿", new_post_path %></li>
  <li><p>お気に入り投稿<p></li>
</ul>
<% if @favorite_list.present? %>
  <% @favorite_list.each do |post| %>
    <%= post.content %>
  <% end %>
<% end %>
<div class="content">
  <%= render 'follow_form' %>
<section class="stats">
        <%= render 'shared/stats' %>
      </section>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
  <p>自己紹介</p>
  <p><%= link_to "投稿一覧", posts_path(@post) %></p>
  <% @posts.each do |post| %>
  <%=link_to post.content, post_path(post.id) %>
<% end %>


<h1>ユーザー詳細</h1>
<% if @user.picture? %>
<%= image_tag@user.picture, alt: "user-icon", size: "200",  class: "user-icon" %>
<% else %>
<%= image_tag "default.jpg", alt: "user-icon", size: "200", class: "user-icon" %>
<% end %>
<p><%= @user.name %></p>
<p><%= @user.email %></p>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

</div>