<% if user_signed_in? %>
  <div class="container mx-auto lg:px-8 xl:px-36">
    <div class="lg:grid grid-cols-3 pt-4">

      <div class="col-span-2 bg-white rounded-md shadow m-4">

        <div class="p-4 flex items-center">
            <b class="ml-2">トレーニング年数で検索</b>
        </div>
        <div class="search">
          <%= form_with url: search_users_path, method: :get, local: true  do |f| %>
            <div class="flex justify-around">
                <div class="placeholder-gray-800 border">
                  <%= f.number_field(:experience, :placeholder => "年数", class:"", min: 0, max: 100) %>
                </div>
              </div>
              <div class='flex justify-center py-4'>
                <%= f.submit "検索", class:"cursor-pointer px-3 py-2 bg-green-500 text-white font-semibold rounded hover:bg-green-700" %>
              </div>
          <% end %>
        </div>

        <div id="user">
          <contents></contents>
        </div>
      </div>

      <div class="col-span-1">
        <div class="bg-white rounded-md m-4 shadow">
          <%= link_to user_path(@login_user), data: {"turbolinks" => false} do %>
            <div class="p-4 hover:bg-gray-100 active:bg-gray-200 rounded-md">
              <div class="flex items-center mb-6">
                <h3 class="ml-2">ログインユーザー</h3>
              </div>
              <div class="flex justify-center">
                <% if @login_user.image.attached? %>
                  <%= image_tag @login_user.image, class: "rounded-full h-32 w-32" %>
                <% else %>
                  <%= image_tag "default.png", class: "rounded-full h-32 w-32" %>
                <% end %>
              </div>
              <div class="flex justify-center pt-2">
                  <p class="text-xl"><%= @login_user.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <%= javascript_pack_tag 'user' %>
  <%= stylesheet_pack_tag 'user' %>
  
<% else %>

  <% content_for(:body_attributes) do %>
    data-turbolinks="false"
　　<% end %>

  <div class="section">
            <div class="sliderArea">
              <div class="full-screen slider">
                <img src="<%= asset_path "body.jpg" %>" />
                <img src="<%= asset_path "post.jpg" %>" />
                <img src="<%= asset_path "show.jpg" %>" />
              </div>
            </div>
  </div>

  <div class="body-main-2">
    <h1> Boditoreの3つの特長</h1>
      <ul class="sub__ttl">
        <li class="ttl2">
          <%= image_tag "subttl1.jpg", alt: "user-icon", class: "user-icon" %>
          <h3 class="ttl2">1.魅せる！</h3>
          <p>自慢の筋トレを投稿しよう！</p>
        </li>
        <li>
          <%= image_tag "subttl2.jpg", alt: "user-icon", class: "user-icon" %>
          <h3 class="ttl2">2.調べる！</h3>
          <p>リストから投稿を見てみよう！</p>
        </li>
        <li>
          <%= image_tag "subttl3.jpg", alt: "user-icon", class: "user-icon" %>
          <h3 class="ttl2">3.繋がる！</h3>
          <p>メッセージ機能を活用しよう！</p>
        </li>
    </ul>
  </div>

<% end %>
