<% content_for(:body_attributes) do %>
  data-turbolinks="false"
　　<% end %>

<div class="section">
          <div class="sliderArea">
            <div class="full-screen slider">
              <img src="<%= asset_path "body.jpg" %>" />
              <img src="<%= asset_path "post.jpg" %>" />
              <img src="<%= asset_path "show.jpg" %>" />
            </div>
          </div>
</div>

<div class="w-full bg-gray-100 my-4 py-5 px-2 md:px-6">
  <div class="w-full py-2 sm:py-4 px-2 :px-16 mx-auto">
    <p class="text-3xl lg:text-4xl font-bold text-center border-gray-300 border-b-2 pb-2"> Boditoreの3つの特長</p>
      <div class="grid justify-items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        <div class="pt-4 pb-4">
          <%= image_tag "subttl1.jpg", alt: "", class: "rounded-lg md:w-56" %>
          <div class="flex justify-center pt-4 text-xl">①魅せる！</div>
          <p class="flex justify-center pt-4">自慢の筋トレを投稿しよう！</p>
        </div>
        <div class="pt-4 pb-4">
          <%= image_tag "subttl2.jpg", alt: "", class: "rounded-lg md:w-56" %>
          <div class="flex justify-center pt-4 text-xl">②調べる！</div>
          <p class="flex justify-center pt-4">リストから投稿を見てみよう！</p>
        </div>
        <div class="pt-4 pb-4">
          <%= image_tag "subttl3.jpg", alt: "", class: "rounded-lg md:w-56" %>
          <div class="flex justify-center pt-4 text-xl">③繋がる！</div>
          <p class="flex justify-center pt-4">メッセージ機能を活用しよう！</p>
      </div>
    </div>
  </div>
</div>
