<% if user_signed_in? %>
  <div id="user">
    
      <v-form>
        <v-container>
          <v-row class="user__search">
            <v-col
              cols="12"
              md="4"
            >
            <%= form_with url: search_users_path, method: :get, local: true do |f| %>
            <%= f.number_field :experience, :placeholder => "トレーニング年数" %>
            </v-col>
            <%= f.submit :検索 %>
            <% end %>
        </v-row>
    </v-container>
  </v-form>
      

  <contents></contents>
  </div>

  <%= javascript_pack_tag 'user' %>
  <%= stylesheet_pack_tag 'user' %>
<% else %>

  <div class="section">
            <div class="sliderArea">
              <div class="full-screen slider">
                <img src="<%= asset_path "body.jpg" %>" />
                <img src="<%= asset_path "post.jpg" %>" />
                <img src="<%= asset_path "show.jpg" %>" />
              </div>
            </div>
  </div>

  <div class="body-main-2">
    <h1> Boditoreの3つの特長</h1>
      <ul class="sub__ttl">
        <li class="ttl2">
          <%= image_tag "subttl1.jpg", alt: "user-icon", class: "user-icon" %>
          <h3 class="ttl2">1.魅せる！</h3>
          <p>自慢の筋トレを投稿しよう！</p>
        </li>
        <li>
          <%= image_tag "subttl2.jpg", alt: "user-icon", class: "user-icon" %>
          <h3 class="ttl2">2.調べる！</h3>
          <p>リストから投稿を見てみよう！</p>
        </li>
        <li>
          <%= image_tag "subttl3.jpg", alt: "user-icon", class: "user-icon" %>
          <h3 class="ttl2">3.繋がる！</h3>
          <p>メッセージ機能を活用しよう！</p>
        </li>
    </ul>
  </div>

<% end %>
