<div class="container mx-auto lg:px-8 xl:px-80">
  <div class="m-4 p-4 h-auto divide-y divide-gray-400 bg-white rounded-md shadow">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="px-4 pb-4 pt-4">
          <%= f.label :メールアドレス%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'placeholder-gray-800 border w-full'  %>
        </div>

        <div class="px-4 pb-4">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:'placeholder-gray-800 border w-full'  %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="px-4 pb-4">
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン情報を保存する %>
          </div>
        <% end %>

        <div class="py-4 flex justify-center">
          <%= f.submit "ログイン" ,class:'cursor-pointer px-3 py-2 bg-gray-500 text-white font-semibold rounded hover:bg-gray-700'%>
        </div>
      <% end %>
  </div>
</div>
