<div class="container mx-auto lg:px-8 xl:px-36">
  <div class="lg:grid grid-cols-3 pt-4">
    <div class="col-span-2 bg-white rounded-md shadow m-4 p-4">
      <h1 class="form-text pb-4">トークルーム</h1>

      <h4 class="form-text pb-4">参加者</h4>
      <% @entries.each do |e| %>
        <h5 class="pb-4"><strong><a class="hover:underline" href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h5>
      <% end %>
      <hr>
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <% if message.user_id == current_user.id %>
            <div class="pb-3">
              <div class="current_user">
              <%= message.content %>
              <small>
                by <a class="hover:underline" href="/users/<%= message.user_id %>"><%= message.user.name %>さん</a>
              </small>
              </div>
            </div>
          <% else %>
            <div class="pb-3">
              <div class="visited_user">
              <%= message.content %>
              <small>
                by <a  class="hover:underline" href="/users/<%= message.user_id %>"><%= message.user.name %>さん</a>
              </small>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h3 class="form-text pb-4">メッセージはまだありません</h3>
      <% end %>
      <hr>
    </div>

    <div class="col-span-1">
      <div class="m-4 p-4 h-auto divide-y divide-gray-400 bg-white rounded-md shadow">
        <%= form_with(model: @message, class: "message_form") do |f| %>
          <label class="form-text pb-4">メッセージ</label><br />
          <%= f.text_area :content, :placeholder => "メッセージを入力", class:"message_form-text placeholder-gray-300 border w-full" %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <div class="py-4 flex justify-center">
            <%= f.submit "投稿", class:"message_form-btn cursor-pointer px-3 py-2 bg-gray-500 text-white font-semibold rounded hover:bg-gray-700" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
