  <%
=begin%>
 <% content_for(:body_attributes) do %>
    data-turbolinks="false"
　　<% end %>

<div class="container mx-auto lg:px-8 xl:px-80">
  <div class="m-4 p-4 h-auto divide-y divide-gray-400 bg-white rounded-md shadow">
    <h2 class="px-4">編集</h2>
    <%= form_for(@post, url: post_path(@post)) do |f| %>
      <div class="px-4 pb-4 pt-4">
          <%= f.label :タイトル %><br>
          <%= f.text_field :title, autofocus: true, :placeholder =>"#{@post.title}", class:'placeholder-gray-800 border w-full' %>
      </div>

      <div class="px-4 pb-4">
        <%= f.label :投稿内容 %><br>
        <%= f.text_area :content, autofocus: true, :placeholder =>"#{@post.content}", class:'placeholder-gray-800 border w-full' %>
      </div>
      
      <div class="px-4 pb-4">
        <%= f.label :写真 %><br>
        <%= f.file_field :image, id:'image_upload', class:'w-full text-sm sm:text-lg px-1' %>
        <div id='preview_area' class='w-full my-5'></div>
      </div>

      <div class="py-4 flex justify-center">
        <%= f.submit "投稿",class:'cursor-pointer px-3 py-2 bg-gray-500 text-white font-semibold rounded hover:bg-gray-700' %>
      </div>
    <% end %>
  </div>
</div> 
<%
=end%>

  <% content_for(:body_attributes) do %>
    data-turbolinks="false"
　　<% end %>

<div id="post">
<contents_edit></contents_edit>
</div>

<%= javascript_pack_tag 'post' %>
<%= stylesheet_pack_tag 'post' %>
