<div class="notifications">
<h1>編集</h1>
 <%= form_with url: posts_create_path(@post.id) do |form| %>
  <p>
      <%= form.label :タイトル %><br>
      <%= form.text_field :title, id: "title" %>
    </p>

    <p>
      <%= form.label :投稿内容 %><br>
      <%= form.text_area :content, id: "content" %>
    </p>

    <p>
      <%= form.label :写真 %><br>
      <%= form.file_field :picture, id: "picture" %>
    </p>

    <p>
      <%= form.submit "投稿" %>
    </p>
 <% end %>
</div>