  <% content_for(:body_attributes) do %>
    data-turbolinks="false"
　　<% end %>

<div id="post">
    <div class="container mx-auto lg:px-8 xl:px-36">
      <div class="lg:grid grid-cols-3 pt-4">

        <div class="col-span-2 bg-white rounded-md shadow m-4">
          <div class="p-4 flex items-center">
              <b class="ml-2">キーワードで検索</b>
          </div>
          <div class="search">
            <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
              <div class="flex justify-around">
                <div class="placeholder-gray-800 border">
                  <%= f.text_field :title, class:"post-search", :placeholder => "検索キーワード" %>
                </div>
              </div>
              <div class='flex justify-center py-4'>
                <%= f.submit "検索", class:"cursor-pointer px-3 py-2 bg-gray-500 text-white font-semibold rounded hover:bg-gray-700" %>
              </div>
            <% end %>
          </div>
          <contents></contents>
        </div>

        <div class="col-span-1">
          <navbar></navbar>

          <div class="bg-white rounded-md m-4 shadow">

            <div class="flex justify-center text-xl p-4">
              お気に入り数ランキング
            </div>

            <% @month_post_favorite_ranks.each.with_index(1) do |post, i| %>
            <%= link_to post , data: {"turbolinks" => false} do %>

            <% if i == 1 %>
              <div class="relative bg-yellow-300 hover:bg-yellow-100 active:bg-yellow-200">
              <div class="p-4 flex items-center">
                  <p class=""><i class="fas fa-crown"></i>第<%= i %>位</p>
              </div>
            <% elsif i == 2 %>
              <div class="relative bg-gray-400 hover:bg-gray-200 active:bg-gray-300">
              <div class="p-4 flex items-center">
                  <p class=""><i class="fas fa-crown"></i>第<%= i %>位</p>
              </div>
            <% elsif i == 3 %>
              <div class="relative bg-yellow-600 hover:bg-yellow-500 active:bg-yellow-600">
              <div class="p-4 flex items-center">
                  <p class=""><i class="fas fa-crown"></i>第<%= i %>位</p>
              </div>
            <% else %>
              <div class="relative bg-white hover:bg-gray-100 active:bg-gray-200">
              <div class="p-4 flex items-center">
                  <p class="">第<%= i %>位</p>
              </div>
            <% end %>
                <div class="px-4 pt-4 text-xl pb-4">
                  <%= post.title %>
                </div>
            

   
                <div class="flex display-start items-center px-4 pt-2 pb-4">
                  <% if post.user.image.attached? %>
                    <%= image_tag post.user.image, class: "h-8 w-8" %>
                  <% else %>
                    <%= image_tag "default.png", class: "h-8 w-8" %>
                  <% end %>
                  <div class="pl-2 hover:underline">
                      <%= link_to post.user.name, post.user %>
                  </div>
                </div>

            </div>
            <% end %>
            <% end %>

          </div>

        </div>

      </div>
    </div>
  </div>

<%= javascript_pack_tag 'post' %>
<%= stylesheet_pack_tag 'post' %>
