<div class="notifications">

<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div class="posts-index-item">
  <% if post.user.picture? %>
            <%= image_tag post.user.picture, size: "50x50", class:"user-icon"%>
            <% else %>
            <%= image_tag "default.jpg", alt: "user-icon", size: "50x50", class: "user-icon" %>
            <% end %>
    <%= link_to post.content, post%>
    <%= link_to "編集 |", edit_post_path(post) %>
    <%= link_to "削除", post_path(post), method: :delete %>
    <hr>
    
  </div>
<% end %>

<%= link_to("新規投稿", "/posts/new") %>

</div>

<div class="bg-post"></div>