<div class="common_wrapper">
  <h1>検索結果
  <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
    <%= f.text_field :title, :placeholder => "検索キーワード" %>
    <%= f.submit :検索 %>
  <% end %></h1>
  <ul class="post__index">
    <% @posts.each do |post| %>
      <li class="post__index__item">
          <div class="post__index__item__user">
        <% if post.user.image.attached? %>
              <%= image_tag post.user.image, class:"user-icon_small"%>
            <% else %>
              <%= image_tag "default.png", alt: "user-icon", class: "user-icon_small" %>
            <% end %>
            <div class="post__index__item__user__name"><%= post.user.name %>
          </div>
          <h3><%= post.title %></h3>
          <p><%= post.content %></p>
          <% if post.eyecatch.attached? %>
              <%= image_tag post.eyecatch, class: "post__index__item__img" %>
            <% end %>
          <hr>
        <%=link_to "詳細を見る", post_path(post) %>
          </div>
      </li>
      <% end %>
    </ul>
  <hr>
    <%= link_to "戻る", posts_path %>
</div>
