<header class="header">
    <div class="wrapper">
    
      <%= link_to root_path do %>
      <h3 id="logo">Boditore
      <i class="fas fa-dumbbell"></i>
      </h3>
       <% end %>
        <nav class="nav">
          <ul class="nav__wrapper">
            <% if user_signed_in? %>
              <li class="nav__item">
                <%= link_to  posts_path do %>
                <i class="fas fa-list fa-lg"></i>
                <% end %>
              </li>
              <li class="nav__item">
                <%= link_to  notifications_path do %>
                <i class="far fa-bell fa-lg"></i>
                <% end %>
              </li>
            <% else %>
              <li class="nav__item">
                <%= link_to  posts_path do %>
                <i class="fas fa-list fa-lg"></i>
                <% end %>
              </li>
            <% end %>
          <% if user_signed_in? %>
            <li class="nav__item">
              <ul class="gnav">
                <li>
                  <a href="#"><i class="far fa-user-circle fa-lg"></i><b class="caret"></b>&xdtri;</a>
                  <ul>
                    <li><%= link_to "プロフィール", current_user %></li>
                    <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>

                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav__item">
              <ul class="gnav">
                <li>
                  <a href="#"><i class="far fa-user-circle fa-lg"></i><b class="caret"></b>&xdtri;</a>
                  <ul>
                    <li><%= link_to "新規登録", new_user_registration_path %></li>
                    <li><%= link_to "ログイン", new_user_session_path %></li>
                    
                  </ul>
                </li>
                <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
              </ul>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
