<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Boditore", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Post",   '#' %></li>
            <li><%= link_to "Search",   '#' %></li>
            <li><%= link_to "Inform", '#' %></li>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          </ul>
        </nav>
      </div>
    </header>